{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'AIUApp/topics_component.html' %}

      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="socials">
            <a href="{{user.email}}"target="_blank">
              <i class="fa-brands fa-google" style="color: #e93644;"></i>
            </a>
            <a href="{{user.github}}"target="_blank">
              <i class="fa-brands fa-github" style="color: #e93644;"></i>  
            </a>
            <a href="{{user.linkedin}}"target="_blank">
              <i class="fa-brands fa-linkedin" style="color: #1656df;"></i>
            </a>
            <a href="{{user.twitter}}"target="_blank">
              <i class="fa-brands fa-twitter" style="color: #e93644;"></i>
            </a>
            <a href="{{user.stackoverflow}}"target="_blank">
              <i class="fa-brands fa-stack-overflow" style="color: #ffb13b;"></i>
            </a>
          </div>
          <div class="profile__about">
            <h2>About</h2>
            <p>
              {{user.bio}}
            </p>
            <h2>Skills</h2>
            <p>
              {{user.skills}}
            </p>
            <h2>Experience</h2>
            <p>
              {{user.experience}}
            </p>
            <h2>Goals</h2>
            <p>
              {{user.goals}}
            </p>
            
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>DEVTandem Rooms Hosted by {{user.username}}
            </h2>
          </div>
        </div>
        {% include 'AIUApp/feed_component.html' %}

        
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'AIUApp/activity_component.html' %}

      <!-- Activities End -->
    </div>
  </main>
{% endblock %}